
* {
    font-family: JetBrainsMono Nerd Font;
    font-size: 15px;
    min-height: 0;

}

/* =========================
 *   WAYBAR
 * ========================= */

window#waybar {

    background: rgba(15,18,25,0);
   /* border: 1px solid rgba(0,255,200,0.18);
    border-radius: 10px; */



}

/* =========================
 *   WORKSPACES
 * ========================= */

#workspaces {
background: rgba(15,18,25,0.85);

border: 1px solid rgb(0,255,200);
border-radius: 12px;
padding-left: 12px;
margin-right: 20px;


}

#workspaces button {
background: rgba(15,18,25,0.85);

border: 1px solid rgb(0,255,200);
border-radius: 12px;

padding-right: 10;
padding-left: 15;
margin-right: 20px;
margin-top: 12px;
margin-bottom: 12px;



color: white;
}

#workspaces button.active {
background: rgba(255,255,255,0.2);
}


#tray {

background: rgba(15,18,25,0.85);

border: 1px solid rgb(0,255,200);
border-radius: 12px;
padding-left: 12px;
padding-right: 12px;
padding-top: 10px;
padding-bottom: 10px;
}



/* =========================
 *   CLOCK
 * ========================= */

#clock {
background: rgba(15,18,25,0.85);

border: 1px solid rgb(0,255,200);
border-radius: 12px;

padding: 0 12px;
margin-top: 12px;
margin-bottom: 12px;

color: white;
}

/* =========================
 *   SYSTEM MODULES
 * ========================= */

#network {
background: rgba(15,18,25,0.85);

border: 1px solid rgb(0,255,200);
border-radius: 12px;
margin-top: 12px;
margin-bottom: 12px;
padding: 0 12px;
margin-right: 20px;
padding-right: 15px;

color: white;
}

#pulseaudio,
#custom-power,
#custom-weather,
#cpu {

    background: rgba(15,18,25,0.85);

    border: 1px solid rgb(0,255,200);
    border-radius: 12px;
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 0 12px;
    margin-right: 20px;

    color: white;
}
#custom-launcher {
background: rgba(0, 5, 8,0.85);

border: 1px solid rgb(0,255,200);
border-radius: 12px;

padding: 0 20px;
margin-right: 20px;

color: white;
}
#memory {
background: rgba(15,18,25,0.85);

border: 1px solid rgb(0,255,200);
border-radius: 12px;
margin-top: 12px;
margin-bottom: 12px;
padding: 0 12px;
margin-right: 20px;

color: white;
}



/* =========================
 *   CPU STATES
 * ========================= */

#cpu.warning {
background: rgba(255, 200, 0, 0.2);
}

#cpu.critical {
background: rgba(255, 0, 0, 0.2);
}


